#main-content{
  margin-top: 40px;
  /* op line */
  align-items: center;
  background: transparent url('../images/Union_1.svg') 0% 0% no-repeat padding-box;
  opacity: 1;
}

.bg-custom{
  background-color: #40B985!important;
  height: 64px;
}
/* link-item */
.nav-item{
  margin-left: 5px;
  margin-right: 5px;
  color: #f1f1f1!important;
}
.cc:hover{
  border-bottom: 1px solid #f1f1f1;
}

.my-imgs{
  height: 432px!important;
  width:444px!important;
}


.footer{
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 15px;
  padding:5px;
  background-color: #001329;
  color: #f1f1f1;
}


/* buttons */
.custom{
  border-radius: 28px;
}


/* card */
.card{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000001A;
  border-radius: 15px;
  opacity: 1;
  width: 184px;
}

/* pose items */
.pose-img{
  width: 108px;
  height: 108px;
  border: 1px solid #707070;
  margin-top: 28px;
  margin-left: 24px;
  margin-right: 38px;
}

